{% extends 'blog/template.html' %}
{% load staticfiles %}

    {% block content %}
	<div class="container" align="left">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><B>ID</B></td>
					<td><B>이름</B></td>
					<td><B>생일</B></td>
					<td><B>국가</B></td>
					<td><B>조회수</B></td>
					<td><B>평점</B></td>
				</tr>
			</thead>
			<tbody>
				<img src={{actor.picture_url}} width = 240 height = 480>
				<tr>
					<td>{{actor.actor_id}}</td>
					<td>{{actor.name}}</td>
					<td>{{actor.birthday}}</td>
					<td>{{actor.nation}}</td>
					<td>{{actor.count}}</td>
					<td>{{actor.score}}</td>
				</tr>
			</tbody>
		</table>
	</div>
    {% endblock %}