{% extends 'blog/template.html' %}
{% load staticfiles %}
{% block content %}
    <div class="title">
        <h2>{{ group.group_name }}</h2>
    </div>
    {% if auth is None %}
    <div align="right">
        <a href={% url 'group_join' group.group_id %} type="button" class="btn btn-success">가입하기</a>
    </div>
    {% endif %}
    {% if posting is not None %}
    <table class="table">
        <thead>
            <tr>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a type="text" href={% url "group_post" posting.posting_id %}>{{ posting.title }}</a></td>
                <td>{{ posting.user.username }}</td>
                <td>{{ posting.count }}</td>
            </tr>
        </tbody>
    </table>
    {%  else %}
    <div class="title">
        <h3>등록된 게시물이 없습니다.</h3>
    </div>
    {%  endif %}
    <br><br><br>
    {% if auth is not None %}
        <a href="/group/write/{{ group.group_id }}"type="button" class="btn btn-default">글쓰기</a>
    {% endif %}
{% endblock %}
