{% extends 'blog/template.html' %}
{% load staticfiles %}
{% block content %}
<h2>게시물 작성</h2>
<form action={% url 'group_write_db' %} method="post">
{% csrf_token %}
    <div class="form-group" align="left">
        <label for="group_name">Title: </label>
        <input type="text" class="form-control" id="title" placeholder="제목" name="title"/>
        <input type="hidden" id="groupID" name="groupID" value="{{ groupID }}"/>
    </div>
    <div class="form-group" align="left">
        <label for="group_info">Content: </label>
        <input type="text" class="form-control" id="contents" placeholder="내용" name="contents"/>
    </div>

    <input type="submit" class="btn btn-default" value="Post"/>
</form>
{% endblock %}