{% extends 'blog/template.html' %}
{% load staticfiles %}

{% block content %}
<!--<div id="banner">
	<img src="{% static 'images/pic01.jpg' %}" alt="" class="image-full" />
</div>-->
<iframe width="560" height="315" src="{{ mummy_trailer.url }}" frameborder="0" allowfullscreen></iframe>
<div id="welcome">
	<div class="title">
		<h2><미이라> 언론 시사 반응</h2>
		<span class="byline">그동안의 <strong>미이라</strong>들은 잊어라!</span>
	</div>
	<p>새로운 <strong>미이라</strong>는 1932년 <a href="http://templated.co" rel="nofollow">[미이라]</a>, 그리고 전세계 누적 수입 12억 달러를 기록한 블록버스터
        <a href="http://fotogrph.com/">[미이라]</a> 시리즈(1999~2001). 이 두 편의 작품은 잊어도 좋을 만큼 2017 미이라는 새롭게 탈바꿈했습니다. 고전의 미스터리한 분위기와 시리지의 스펙터클을 합쳐 재탄생한 작품이라고 말할 수 있죠</p>
	<img src="{% static 'images/'|add:mummy.poster_url %}" alt={{ mummy.title_kor }} style="width:400px;">
</div>
<div id="featured">
	<div class="title">
		<h2>개봉 예정 영화</h2>
		<span class="byline">올해의 기대작</span>
	</div>
	<ul class="style1">
		<li class="first">
		    <p class="date"><a href="#">Jan<b>05</b></a></p>
		    <h3>Amet sed volutpat mauris</h3>
		    <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
		</li>
		<li>
			<p class="date"><a href="#">Jan<b>03</b></a></p>
			<h3>Sagittis diam dolor amet</h3>
			<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
		</li>
		<li>
			<p class="date"><a href="#">Jan<b>01</b></a></p>
			<h3>Amet sed volutpat mauris</h3>
			<p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p>
		</li>
		<li>
			<p class="date"><a href="#">Dec<b>31</b></a></p>
			<h3>Sagittis diam dolor amet</h3>
			<p><a href="#">Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie. Donec leo, vivamus fermentum nibh in augue praesent congue rutrum.</a></p>
		</li>
	</ul>
</div>
{% endblock %}
