{% extends 'blog/template.html' %}
{% load staticfiles %}

{% block content %}
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" align="left">
                    <h1> {{ movie.title_kor }} </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static "images/"|add:movie.poster_url %}" width=213 height=317>
            </div>
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td>
                            <B> 평점 : </B> {{ avg }}
                            {% if user.is_authenticated %}
                                <!--a href="#" class="btn btn-primary"> 평점주기 </a-->
                                <form action="/movie_info/{{ movie.movie_id }}" method="post">
                                    <label>Score</label>
                                    {% csrf_token %}
                                    <select name="score">
                                        <option> 0</option>
                                        <option> 1</option>
                                        <option> 2</option>
                                        <option> 3</option>
                                        <option> 4</option>
                                        <option> 5</option>
                                    </select>
                                    {% if voteRight %}
                                        <br> <input type="submit" value="평점주기"> </input> </br>
                                    {% else %}
                                        <br> 이미 평점을 주셨습디다 </br>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><B> 영어제목 : </B> {{ movie.title_en }}</td>
                    </tr>
                    <tr>
                        <td><B> 개봉일 : </B> {{ movie.playdate }}</td>
                    </tr>
                    <tr>
                        <td><B> 러닝타임 : </B> {{ movie.playtime }}</td>
                    </tr>
                    <tr>
                        <td><B> 제작년도 : </B> {{ movie.year }}</td>
                    </tr>
                    <tr>
                        <td><B> 제작국가 : </B> {{ movie.nation }}</td>
                    </tr>
                    <tr>
                        <td><B> 장르 : </B>
                            {% for genre in genres %}
                                {{ genre.genre }}
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            {% for trailer in trailers %}
                <iframe width="560" height="315" src="{{ trailer.url }}" iframeborder="0" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" align="left">
                    <h1> 감독 </h1>
                </div>
            </div>
        </div>
        {% for director in directors %}
            <div class="row">
                <div class="col-lg-4">
                    <a href="/director_info/{{ director.director_id }}"><img src={{ director.picture_url }} width = 149
                        height = 222> </a>
                </div>
                <div class="col-lg-8">
                    <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td><B> 이름 : </B> {{ director.name }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header" align="left">
                    <h1> 출연진 </h1>
                </div>
            </div>
        </div>
        {% for role, actor in roles_and_actors %}
            <div class="row">
                <div class="col-lg-4">
                    <a href="/actor_info/{{ actor.actor_id }}"><img src={{ actor.picture_url }} width = 149 height = 222
                        > </a>
                </div>
                <div class="col-lg-8">
                    <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                        <tr>
                            <td><B> 이름 : </B> {{ actor.name }} </td>
                        </tr>
                        <tr>
                            <td><B> 배역 : </B> {{ role.role }} 役</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}