{% extends 'blog/template.html' %}
{% load staticfiles %}

    {% block content %}
		<form action="/search/" method="post">
		{% csrf_token %}
			<div class="form-group">
				<!--input name = "actorName" id = "searchTextArea" type="text" class="form-control" placeholder="Search"-->
				<input name = "name" id = "searchTextArea" type="text" class="form-control" placeholder="Search">
			</div>
			<input class="btn btn-default" type="submit">
		</form>
		<table>
			{% for actor in actors %}
			<tr>
			<!--td>{{actors.actor_id}}</td-->
			<td><a href="/actor_info/{{actor.actor_id}}">{{actor.name}}</a></td>
			</tr>
			{% endfor %}
			{% for movie in movies %}
			<tr>
			<!--td>{{actors.actor_id}}</td-->
			<!--td><a href=/actor_info/{{actor.actor_id}}>{{actor.name}}</a></td-->
			<td><a href="/movie_info/{{movie.movie_id}}">{{movie.title_kor}}</a></td>
			</tr>
			{% endfor %}
		</table>
    {% endblock %}